<table class="key">
  <tr>
    <th>Key</th>
    <th></th>
  </tr>
  <tr>
    <td>P</td>
    <td>Points</td>
  </tr>
  <tr>
    <td>W</td>
    <td>Wins</td>
  </tr>
  <tr>
    <td>L</td>
    <td>Losses</td>
  </tr>
  <tr>
    <td>T</td>
    <td>Ties</td>
  </tr>
  <tr>
    <td>GF</td>
    <td>Gaols For</td>
  </tr>
  <tr>
    <td>GA</td>
    <td>Gaols Against</td>
  </tr>
  <tr>
    <td>GD</td>
    <td>Gaol Differential</td>
  </tr>
</table>


