<h1>World Cup Teams</h1>

<% @partial_edit = 1 %>
<%= render partial: 'key', object: @teams %>
<%= render partial: 'teams', object: @teams %>
<br>

<%= link_to 'Recompute Standings', recompute_standings_path %>
<%= link_to 'New Team', new_team_path %>
