<h1>World Cup Groups</h1>
<% @partial_edit = 1 %>
<%= render partial: 'teams/key', object: @teams %>
<%= render partial: 'groups/groups', object: @groups %>
<br>

<%= link_to 'New Group', new_group_path %>
